@import 'tailwindcss';
@config "../../tailwind.config.js";

@theme {
  --color-primary: #f39200;
}

button {
  @apply cursor-pointer;
}

.hero-anim {
  opacity: 0;
  filter: blur(20px);
  transform: translateX(-20px);
  animation: hero-anim 1s ease-out 1s forwards;
}

@keyframes hero-anim {
  0% {
    opacity: 0;
    filter: blur(20px);
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
}

.default-zoom-in {
  opacity: 0;
  transform: scale(0.9);
  animation: default-zoom-in 0.3s ease-in-out 0.1s forwards;
}

.default-fade-in {
  opacity: 0;
  animation: default-fade-in 0.5s ease-in-out 0.1s forwards;
}

@keyframes default-zoom-in {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes default-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.ls-navbar {
  letter-spacing: 0.1em;
}

.hero-gradient-text {
  background: -webkit-linear-gradient(45deg, #fff, var(--color-slate-400));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.alu-table {
  @apply font-roboto-mono;
}

.alu-table td {
  white-space: nowrap;
  @apply text-xs lg:text-sm;
}

.alu-table thead tr {
  @apply bg-neutral-950 text-neutral-400;

  & th {
    @apply sticky top-0 border border-neutral-800 px-5 py-5 font-black;
  }
}

.alu-table tbody tr td:first-child {
  @apply sticky left-0 z-5 bg-neutral-950;
}

.alu-table tbody tr {
  @apply bg-neutral-900 transition-all duration-150 focus-within:bg-zinc-100/10 hover:bg-zinc-100/10 hover:text-white;

  & td {
    @apply border border-neutral-800 px-5 py-2;
  }
}

.alloy-alu-table tbody tr td:not(:first-child) {
  text-align: center;
}

.alloy-alu-table thead tr th:not(:first-child) {
  text-align: center;
}

.pure-alu-table {
  text-align: center;
}

.pure-alu-table thead th {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.ingot-table-note {
  @apply font-roboto-mono;
}
.ingot-table-note td {
  @apply w-fit p-2 text-xs;
}
