@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth !important;
}

.default-zoom-in {
  opacity: 0;
  transform: scale(0.9);
  animation: default-zoom-in 0.3s ease-in-out 0.1s forwards;
}

.default-fade-in {
  opacity: 0;
  animation: default-fade-in 0.5s ease-in-out 0.1s forwards;
}

@keyframes default-zoom-in {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes default-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.ls-navbar {
  letter-spacing: 2.5px;
}

.alu-table td {
  white-space: nowrap;
}

.alloy-alu-table tbody tr td:not(:first-child) {
  text-align: center;
}

.alloy-alu-table thead tr th:not(:first-child) {
  width: 120px;
  min-width: 120px;
  max-width: 120px;
  text-align: center;
}
